body {
  background: #e4f0fa;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

*{
  transition: all .5s ease;
}

#homePage {
  width: calc(100% - 60px);
  margin: 30px auto;
  background: #f0f8ff; }

li{
    list-style: none;
}

a{
  padding: 0;
  margin: 0;
}

a:hover{
  text-decoration: none;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.form-section textarea {
	min-height: 93px;
	resize: none;
}
.form-section .form-control, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-color: #cadfe4;
	border-radius: 2px;
	box-shadow: none;
	color: #91a8ae;
	font-size: 13px;
	height: 42px;
	text-shadow: none;
}
.form-section button {
	width: 100%;
	margin-top: 10px;
}

.input-group .form-control, .input-group-addon, .input-group-btn{
  display:block;
	position:absolute;
	top:5px;
	right:22px;
	border:none;
	font-size:28px;
	color:#d1dde7;
  background: transparent;
}

.tittle{
	color: #383d48;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 20px;
  	span{
  	display: block;
  	font-size: 18px;
  	font-weight: 400;
  }
}

#panel1, #panel2, #panel3, #down1, #down2, #down3, #down4, #down5
#down6, #down7, #down8, #down9{
	padding: 28px 15px;
	display: none;
}

.bg{
background: url(../img/soci-ico.png) right center no-repeat;	
}

#panel1, #flip, #flip2, #flip3, #panel2, #panel3{
	border-top: solid 1px #dceaf6;
	background: white;
}

.sections{
	padding: 63px 0;
}

.list-styles{
	ul{
		li{
			background: url(../img/lsat.png) left 8px no-repeat;
			padding: 0 0 3px 20px;
			a{
				color: #daf6ff;
				font-size: 13.5px;
			}
		}
	}
}

.maNotification{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 15px;
    margin-top: 5px;
    position: absolute;
    bottom: 11px;
    right: 22px;
    }
